{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}

	<p>Titre : {{titre}}
	</p>
	<p>Durée : {{duree}} minute(s)
	</p>
	<p>Date de sortie : {{dateSortie}}
	</p>
	<p>Note : {{note}}/20
	</p>
	<p>PEGI : {{ageMinimal}}
	</p>

	<a href="{{ path('modifier_film', { 'id': film.id }) }}">
		Modifier</a>
	<a href="{{ path('supprimer_film', { 'id': film.id }) }}">
		Supprimer</a>
{% endblock %}
