{% extends "first_layer.html.twig" %}
{% block titre %}

	{{ parent() }}
{% endblock %}
{% block contenu %}
	<h3>{{ titre_form }}</h3>
	<div id="form">
		{{ form(formulaire) }}
		</div>
		<h3>{{titre_liste}}</h3>
		<div id="list">
			{% for film in films %}
				<p>
					{{film}}
				</p>
			{% endfor %}
		</div>

	{% endblock %}
