{% extends "first_layer.html.twig" %}

{% block titre %}

	{{ parent() }}
{% endblock %}
{% block contenu %}
	{{ include('form.html.twig') }}
		<div id="titre_liste">{{titre_liste}}</div>
		<div id="list">
			{% for film in films %}
				<p>
					<a href="{{ path('detail_film', { 'id': film.id }) }}">
						{{film.titre}}</a>
				</p>
			{% endfor %}
		</div>
		<p>

			{# Flashbags #}
			<ul>
				{% for mesg in app.session.flashbag.get('filmSupprime') %}
					<li>{{ mesg }}</li>
				{% endfor %}
			</ul>
		</p>

	{% endblock %}
