{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}
	{{ include('form.html.twig') }}
	<div id="list">
	<p>
		<a href="{{ path('ajouter_acteur', { 'id': id }) }}">
			Ajouter un acteur à ce film</a>
	</p>
	<p>
		<a href="{{ path('retirer_acteur', { 'id': id }) }}">
			Retirer un acteur à ce film</a>
	</p>
	<a href="{{path('detail_film', { 'id': id }) }}">Abandonner</a></div>
{% endblock %}