{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}

	<p>{{nomPrenom}}
	</p>
	<p>{{date_naissance}}
	</p>
	<p>{{nationalite}}
	</p>

	{% for film in films %}
		<p>{{film.nom}}</p>
	{% endfor %}
	<a href="{{ path('modifier_acteur', { 'id': acteur.id }) }}">
		Modifier</a>
	<a href="{{ path('supprimer_acteur', { 'id': acteur.id }) }}">
		Supprimer</a>
{% endblock %}
