{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}
	<p>
		<a href="{{ path('liste_acteur') }}">
			Liste des acteurs</a>
	</p>
	<p>
		<a href="{{ path('liste_genre') }}">
			Liste des genres</a>
	</p>
	<p>
		<a href="{{ path('liste_film') }}">
			Liste des films</a>
	</p>

	<p>
		<a href="{{ path('film_entre_deux_annees') }}">
			Film entre 2 années</a>
	</p>
	<p>
		<a href="{{ path('film_avant_une_annee') }}">
			Film avant une année</a>
	</p>
	<p>
		<ul>
			{% for mesg in app.session.flashbag.get('pageNotFound') %}
				<li>{{ mesg }}</li>
			{% endfor %}
		</ul>
	</p>
{% endblock %}
