{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}

	<p>Prénom/Nom : {{nomPrenom}}
	</p>
	<p>Date de naissance : {{date_naissance}}
	</p>
	<p>Nationalité : {{nationalite}}
	</p>
	Films : </br>
	{% for film in films %}
		<p>{{film.titre}}</p>
	{% endfor %}
	<a href="{{ path('modifier_acteur', { 'id': acteur.id }) }}">
		Modifier</a>
	<a href="{{ path('supprimer_acteur', { 'id': acteur.id }) }}">
		Supprimer</a>
{% endblock %}
