{% extends "first_layer.html.twig" %}
{% block titre %}
	{{ parent() }}
{% endblock %}
{% block contenu %}
	<div id="detail-block">
		<p>Prénom/Nom :
			{{nomPrenom}}
		</p>
		<p>Date de naissance :
			{{date_naissance}}
		</p>
		<p>Nationalité :
			{{nationalite}}
		</p>
	</div>
	<div id="list1">
		<h3>Liste des genres de l'acteur :</h3>
		(
		{% for genre in genres %}
			"{{genre.nom}}"
		{% endfor %})
	</div>
</br>
<div id="list2">
	<h3>Liste des films de l'acteur</h3>
	(durée totale : {{duree_films}} minutes):</br>
{% for film in films %}
	<p>
		<i>
			<a href="{{ path('detail_film', { 'id' : film.id }) }}">{{film.titre}}</a>
		</i>
	</p>
{% endfor %}
</div>

<a href="{{ path('modifier_acteur', { 'id': acteur.id }) }}">Modifier</a>
<a href="{{ path('supprimer_acteur', { 'id': acteur.id }) }}">Supprimer</a>
{% endblock %}
